:root { /* Colors */
--BB-PRIMARY: #1d1d1d;
--BB-SECONDARY: #BB6F1B;
}

body {
    background: #804d1f;
    background: linear-gradient(180deg, rgba(128, 77, 31, 1) 0%, rgba(74, 52, 37, 1) 16%, rgba(43, 35, 32, 1) 51%, rgba(29, 29, 29, 1) 100%);
    font-family: 'Shrikhand';
    margin: 0;
    color:#E3E3E3
}

main {
    display: flex;
    justify-content: center;
}
#locations-content {
    min-height: 800px;
    padding-top: 100px;
}

/* FOOTER */
.main-footer {
    width: device-width;
    min-height: 200px;
    background-color: var(--BB-SECONDARY);
    display: flex;
    justify-content: space-around;
}
#footer-content {
    max-width: inherit;
    width: 25%;
    max-height: inherit;
}
#footer-content p {
    font-family: Verdana;
    font-size: 1.5rem;
    margin: 0;
    text-shadow:1px 1px #1d1d1d;
}

#footer-nav ul { /* Unordered List for buttons */
    height: 85px;
    /* Flex */


    color:#E3E3E3;
    list-style-type: none;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
}  

#footer-nav ul a {
    text-decoration: none;
    color: #E3E3E3;

}
#footer-nav ul a:hover {
    color:#784711;
}

#footer-nav li {
    padding-right: 10px;
    font-family: Verdana;
}


.footer-div {
    font-family: Verdana;
    font-size: 0.9rem;
    margin-top: 21px;
    color: #D6D6D6;
}

.footer-div h1 {
    font-size: 1.1rem;
    font-weight: 300px; 
    padding-bottom: 20px; 
    margin-left: -1px;
    color:#E3E3E3;
}

.footer-div ul {
    list-style-type: none;
    padding: 0;
}

/* END OF FOOTER */


/* HEADER */
.main-header {
    width: 100%;
    max-width: 2000px;
}
.header-nav {
    width: inherit;
    position: fixed;
    box-shadow: 0px 1px 8px 8px #1d1d1d;

}
.header-nav ul { /* Unordered List for buttons */
    height: 85px;
    background-color: var(--BB-SECONDARY);
    /* Flex */
    display: flex;
    align-items: center;

    color:#E3E3E3;
    list-style-type: none;
    font-size: 1.2rem;
    padding: 0 11rem;
    margin: 0;
}  

.header-nav ul a {
    text-decoration: none;
    color: #E3E3E3;
}
.header-nav ul a:hover {
    color:#784711;
}

.header-nav li { /* Each Element */
    padding: 0 0.5rem;
}

#header-signup {
    margin-left: auto;

}
/* END OF HEADER */